body
{
    background-image: url('baseball-background.jpg');
    background-size: 960px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-position-x: 150px;
}

#content
{
    width: 800px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    border-left: 2px solid red;
    border-right: 2px solid red;
    padding: 20px;
    background-color: rgba(255,255,255,0.85);
}

.frame
{
    float: right;
    width: 150px;
    border-left: 2px solid black;
    padding:20px;
    margin:10px;
}

.frame img
{
    width: 150px;
}

.imgcaption
{
    text-align: center;
    font-style: italic;
}

.kiemelt
{
    font-weight: bold;
    color: red;
}

a:hover
{
    color: red;
}

a
{
    text-decoration: none;
}